@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* #FCFCFA */
    --foreground: 0 0% 0%; /* #000 */

    --card: 0 0% 100%; /* #FFF */
    --card-foreground: 0 0% 24%; /* #3C3C3C */
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 24%;

    --main-gray: 0 0% 24%; /* #3C3C3C */
    --dark-gray: 0 0% 57%; /* #929292 */
    --light-gray: 0 0% 85%; /* #D9D9D9 */
    --black: 0 0% 0%; /* #000 */
    --destructive: 0 100% 41%; /* #D00000 */

    --movie-title: 242 100% 42%; /* #0700D8 */

    --tag-blue-bg: 211 100% 88%; /* #C4E0FF */
    --tag-blue-text: 211 73% 50%; /* #2379DB */
    --tag-green-bg: 175 35% 82%; /* #BFE3DF */
    --tag-green-text: 174 100% 30%; /* #009785 */
    --tag-purple-bg: 281 100% 88%; /* #ECC4FF */
    --tag-purple-text: 281 62% 50%; /* #9D30CF */

    --star-yellow: 51 100% 50%; /* #FFD900 */
    --modal-overlay: 0 0% 0% / 0.4; /* #000 40% */

    --radius: 0.5rem; /* 8px */
    --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  }
  body {
    font-family: var(--font-sans);
    @apply bg-background text-foreground antialiased;
  }
}
